@keyframes slideshowOne {
    from,13% {
        left: 0;
    }
    17%,33% {
        left: -200vh;
    }
    37%,53% {
        left: -400vh;
    }
    57%,73% {
        left: -600vh;
    }
    77%,93% {
        left: -800vh;
    }
    to {
        left: -1000vh;
    }
}

@keyframes slideshowTwo {
    from,13% {
        left: 1000vh;
    }
    17%,33% {
        left: 800vh;
    }
    37%,53% {
        left: 600vh;
    }
    57%,73% {
        left: 400vh;
    }
    77%,93% {
        left: 200vh;
    }
    to {
        left: 0;
    }
}